USE [master]
GO
/****** Object:  Database [empleado_bd]    Script Date: 8/10/2024 8:45:47 PM ******/
CREATE DATABASE [empleado_bd]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'empleado_bd', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQL2022\MSSQL\DATA\empleado_bd.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'empleado_bd_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQL2022\MSSQL\DATA\empleado_bd_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [empleado_bd].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [empleado_bd]
GO
/****** Object:  Table [dbo].[tb_empleados]    Script Date: 8/10/2024 8:45:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_empleados](
	[documento] [nvarchar](15) NOT NULL,
	[nombres] [nvarchar](100) NOT NULL,
	[apellidos] [nvarchar](100) NOT NULL,
	[edad] [int] NOT NULL,
	[direccion] [nvarchar](100) NULL,
	[fecha_nacimiento] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[documento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tb_empleados] ([documento], [nombres], [apellidos], [edad], [direccion], [fecha_nacimiento]) VALUES (N'11111', N'Cristian', N'serna', 25, N'calle 34', CAST(N'1998-12-23' AS Date))
INSERT [dbo].[tb_empleados] ([documento], [nombres], [apellidos], [edad], [direccion], [fecha_nacimiento]) VALUES (N'6666666', N'CAMILA', N'PEREZ', 47, N'CALLE 56', CAST(N'2021-11-25' AS Date))
GO
USE [master]
GO
